@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Cormorant+Garamond:wght@700&family=Croissant+One&family=Expletus+Sans&family=Mooli&family=Poppins&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,700&family=Vollkorn:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    background-color: #131313;
    color: white;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    word-spacing: 5px;
    letter-spacing: -3px;
    font-weight: 900;
}
h3{
    font-family: 'Expletus Sans', cursive;
    font-size: 1.5rem;
}
.date{
    font-size: 5rem;
    font-weight: 900;
    font-family: 'Cormorant Garamond', serif;
}
.line{
    text-indent: 120px;
    text-align: left;
}
.hmm{
    backdrop-filter: blur(10px);
}
.work-img{
    transition: 500ms ease;
}
.img-container:hover .color{
    opacity: 0;
}
.nav-items{
    transition: 500ms ease;
    animation: fade 2s ease-in-out;
}


@keyframes fade {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

.star{
    animation: rotate 5s linear infinite;
    transform-origin: center center;
    font-size: 25px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.works{
    background:url(../src/assets/backs.jpg);
    background-size: cover;
}

.wraper::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 768px) {
   h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 5.5rem;
    word-spacing: 5px;
    letter-spacing: -3px;
    font-weight: 900;
   }
   h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
}
}

@media screen and (min-width: 900px){
    .date{
        font-size: 6rem;
        font-weight: 900;
        font-family: 'Vollkorn', serif;
    }
}

@media screen and (min-width:1200px){
    .pages{
        display: block;
    }
}
.image-section{
    background-image: url(./assets/backs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-h1{
    opacity: 0;
    transform: translateY(50px);
    animation: heroh1 1s ease-in-out forwards;
}
@keyframes heroh1 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero-date{
    opacity: 0;
    transform: translateY(50px);
    animation: herodate 1.5s ease-in-out forwards;
  }
  @keyframes herodate {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .nav-fade{
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeFromTop 1.5s ease-in-out forwards;
  }

  @keyframes fadeFromTop {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .p-fade{
    opacity: 0;
    transform: translateX(100px);
    animation: pfade 3s ease-in-out forwards;
  }
  @keyframes pfade {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .loading{
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
  }

  @keyframes fadeInOut {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }


.para-holder{
  opacity: 0;
  animation: fadeInOut 4s linear infinite;
}

@keyframes fadeInOut {
  0%, 100%{
    opacity: 0;
  }
  25%, 75%{
    opacity: 1;
  }
}